/* Partie fixe de gauche*/
.menu
{
    height: 100%;
    margin-right: 150px;
}

.vl {
    border-left: 1px solid black;
    position: absolute;
    margin-left:15%;
    height: 100%;
    top:0;
  }
/* Accueil*/
.accueil
{
    text-align: center;

    
}
.accueil hr
{
    width: 100%;
}
.page
{
    display: flex;
    flex-wrap: wrap;
}
